node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

logs
*.log
*.tsbuildinfo
tmp/
temp/

.env
.env.local
.env.*.local

.git
.gitignore

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

dist/
build/
coverage/
